label.error, .capsule p > label.error {
	display:none;
	font-size: 12px;
	width: 112px;
	text-align: left;
	xposition: absolute;
	margin-top:-9px;
	left: 353px;
	/*top: -1px; background-color: #FFF7F7; border: 1px solid #f38a8a;*/
	color: #fff;
	line-height: 19px;
	border-radius: 4px;
	float:right;
	xbackground:url(/img/error_bg.png) no-repeat;
	width:217px;
	height:36px;
	xpadding:12px 0 0 20px; font-weight:bold;
        border: none;
}
        